@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,300&family=Montserrat&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,600&family=Roboto:wght@300&display=swap");
.left {
  display: flex;
  flex-basis: 70%;
}

.picture img {
  width: 150px;
  height: 250px;
  margin: 37px 36px 10px 45px;
}

.shortcut {
  display: flex;
}

.shortcut img {
  padding: 10px;
  margin: 10px 5px 10px 10px;
  background: rgba(225, 216, 216, 0.2588235294);
  border: 1px solid white;
}

.shortcut img:hover {
  border: 1px solid rgba(255, 77, 11, 0.7294117647);
}

.shortcut i {
  padding: 30px 0px 29px 5px;
  margin: 2px 30px 0px 8px;
}

.description {
  width: 100%;
  text-align: start;
  padding: 15px;
}

.heading {
  font-size: 22px;
  color: #212121;
  font-weight: 400;
}

.star {
  padding: 10px 0;
}
.star__star-left {
  display: table-cell;
  padding: 10px 0 0 0;
  font-size: 10px;
  color: gold;
  margin-bottom: 15px;
}
.star span {
  height: 12px;
  width: 1px;
  margin-left: 7px;
  margin-right: 4px;
  background: #9e9e9e;
  display: inline-block;
  vertical-align: middle;
}
.star__reviw {
  display: table-cell;
  font-size: 12px;
  color: #1a9cb7;
  line-height: 20px;
}
.star__reviw:hover {
  color: #287c8d;
  text-decoration: underline;
}
.star__icon {
  text-align: right;
  color: rgba(70, 68, 68, 0.8117647059);
  font-size: 20px;
  padding: 13px 30px 4px 0px;
  margin: -18px;
}
.star__cmd {
  font-size: 12px;
  color: #1a9cb7;
  line-height: 20px;
  padding-bottom: 10px;
}
.star__cmd samp {
  color: #9e9e9e;
}

hr {
  height: 1px;
  color: gray;
}

.price {
  display: inline-block;
  padding: 16px 0 17px;
}
.price p {
  color: #f85606;
  font-size: 30px;
  font-weight: 500;
}
.price__discount p {
  padding-top: 5px;
  font-size: 15px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.712);
}
.price span {
  color: rgba(124, 118, 118, 0.425);
  text-decoration: line-through;
}

.color p {
  padding-top: 20px;
  padding-bottom: 10px;
  color: rgba(124, 118, 118, 0.95);
  font-size: 13px;
}
.color span {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.76);
}
.color__bag {
  margin-left: 70px;
}
.color__bag img {
  padding: 5px 10px;
  background: rgba(225, 216, 216, 0.2588235294);
  margin: 0 2px;
  border: 1px solid white;
}
.color__bag-active {
  border: 1px solid #f85606 !important;
}
.color img:hover {
  border: 1px solid #f85606;
}

.Quantity p {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 13px;
  color: rgba(70, 69, 69, 0.856);
}
.Quantity span {
  padding: 7px 13px;
  background: rgba(225, 216, 216, 0.2588235294);
  color: rgba(124, 118, 118, 0.747);
}
.Quantity span:hover {
  background: rgba(124, 118, 118, 0.747);
  color: #fff;
}
.Quantity__btn {
  padding: 30px 0;
}
.Quantity__btn a {
  font-size: 15px;
  text-decoration: none;
  border-radius: 2px;
  color: white;
}
.Quantity__btn-buy {
  border: 1px solid #2abbe8;
  background: #2abbe8;
  padding: 13px 85px;
}
.Quantity__btn-buy:hover {
  background: #23acc9;
}
.Quantity__btn-add {
  border: 1px solid #f57224;
  background: #f57224;
  padding: 13px 80px;
}
.Quantity__btn-add:hover {
  background: #dd6824;
}

.star-right {
  font-size: 15px;
  color: gray;
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}

.star-right i {
  display: table-cell;
  text-align: right;
}

.right {
  flex-basis: 35%;
  background: #fff;
  /*background:#f3e8e84d;*/
}

.header {
  background: rgba(243, 232, 232, 0.3019607843);
  padding: 20px 20px 0px 20px;
}

.content {
  background: rgba(243, 232, 232, 0.3019607843);
  padding: 0 20px;
  margin-top: 10px;
}

.delivary {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: rgba(128, 128, 128, 0.952);
}

.location {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  padding: 8px 0px;
  color: rgba(0, 0, 0, 0.774);
}
.location i {
  font-size: 13px;
  color: rgba(128, 128, 128, 0.952);
}
.location span {
  color: rgba(65, 175, 179, 0.89);
}

.stander {
  display: flex;
  justify-content: space-between;
}
.stander p {
  font-size: 12px;
  padding: 12px 5px 12px 0;
  color: rgba(128, 128, 128, 0.952);
}
.stander span {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.637);
  font-weight: 600;
}
.stander i {
  font-size: 13px;
  color: rgba(128, 128, 128, 0.952);
}

.cash {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.774);
  padding-bottom: 15px;
}
.cash i {
  font-size: 13px;
  color: rgba(128, 128, 128, 0.952);
}

.service {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: rgba(128, 128, 128, 0.952);
  padding: 15px 0px;
}

.details p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.774);
  padding-bottom: 15px;
}
.details span {
  font-size: 13px;
  color: rgba(128, 128, 128, 0.952);
}

.sold {
  display: flex;
  justify-content: space-between;
}
.sold p {
  font-size: 12px;
  padding: 10px 0;
  color: rgba(128, 128, 128, 0.952);
}
.sold span {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.774);
}
.sold i {
  color: rgba(65, 175, 179, 0.89);
}

.rate {
  display: flex;
  justify-content: space-between;
}
.rate p {
  padding: 15px 10px 0px 10px;
  font-size: 13px;
  color: rgba(128, 128, 128, 0.952);
}
.rate span {
  font-size: 30px;
  color: black;
}

.visit p {
  font-size: 15px;
  color: rgba(65, 175, 179, 0.89);
  padding: 5px 120px 6px 125px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main {
  width: 100%;
  background-color: rgba(225, 216, 216, 0.2588235294);
}

.top {
  display: flex;
  font-size: 15px;
  justify-content: center;
  color: rgba(65, 175, 179, 0.89);
  padding: 15px;
}
.top i {
  color: rgba(92, 85, 85, 0.63);
}

.link {
  color: rgba(61, 54, 54, 0.8);
}

.container {
  display: flex;
  margin: auto;
  width: 82%;
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.cotainer {
  height: 100vh;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: rgb(235, 224, 224);
  border-radius: 30px;
  border: 2px solid rgba(209, 204, 204, 0.205);
}
.search-box input {
  width: 422px;
  height: 65%;
  padding: 0 20px;
  border: none;
  outline: none;
  background: white;
}
.search-box i {
  margin: 10px -12px 12px 12px;
  font-size: 20px;
  color: black;
}

.search-box-2:hover {
  opacity: 1;
}

.search-box-2 {
  opacity: 0;
  position: absolute;
  width: 560px;
  margin-right: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: rgb(235, 224, 224);
  border-radius: 30px;
  border: 2px solid blue;
}
.search-box-2 input {
  width: 422px;
  height: 65%;
  padding: 0 20px;
  border: none;
  outline: none;
  background: white;
}
.search-box-2 i {
  margin: 10px -12px 12px 12px;
  font-size: 20px;
  color: black;
}

.icon i {
  padding: 13px 15px 13px 15px;
  background: blue;
  border-radius: 50%;
  color: black;
  font-size: 20px;
  margin: 10px;
}

.hidden i {
  margin: 24px 20px 23px 0px;
  padding: 19px 0px 18px 0px;
  opacity: 1;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" sans-serif;
}

:root {
  /*---------Colors----------*/
  --body-color:#E4E9F7;
  --sidebar-color:#fff;
  --primary-color:#695CFF;
  --toggle-color:#000;
  --text-color:#707070;
  /*---------Transition-------*/
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  height: 100vh;
  background: var(--body-color);
}

/*-------Resuable css-----*/
.sidebar .text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
}

.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
}

/*------sidebar--------*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
}

.sidebar header {
  position: relative;
}

.sidebar .image-text img {
  width: 40px;
  border: 6px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

header .image-text .header-text {
  display: flex;
  flex-direction: column;
}

.header-text .name {
  font-weight: 600;
}

.header-text .profession {
  margin-top: -2px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translate(-50%);
}

/*# sourceMappingURL=main.css.map */
