* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main {
  height: 100vh;
  width: 100%;
  background-color: rgba(225, 216, 216, 0.2588235294);
}

.top {
  display: flex;
  font-size: 15px;
  justify-content: center;
  color: rgba(65, 175, 179, 0.89);
  padding: 15px;
}

.top i {
  color: rgba(92, 85, 85, 0.63);
}

.link {
  color: rgba(61, 54, 54, 0.8);
}

.container {
  display: flex;
  margin: auto;
  width: 82%;
  background-color: #fff;
}

.left {
  display: flex;
  flex-basis: 70%;
}

.picture img {
  width: 150px;
  height: 250px;
  margin: 37px 36px 10px 45px;
}

.shortcut {
  display: flex;
}

.shortcut img {
  padding: 10px;
  margin: 10px 5px 10px 10px;
  background: rgba(225, 216, 216, 0.2588235294);
  border: 1px solid white;
}

.shortcut img:hover {
  border: 1px solid rgba(255, 77, 11, 0.7294117647);
}

.shortcut i {
  padding: 30px 0px 29px 5px;
  margin: 2px 30px 0px 8px;
}

.description {
  height: 100vh;
  width: 100%;
  text-align: start;
  padding: 15px;
}

.description p {
  font-size: 20px;
  color: rgba(61, 54, 54, 0.822);
}

.star {
  display: flex;
}

.star-left {
  padding: 10px 0 0 0;
  font-size: 10px;
  color: gold;
  margin-bottom: 15px;
}

.star P {
  font-size: 11px;
  color: rgba(65, 175, 179, 0.89);
  display: inline;
}

/*{
    font-size: 15px;
    color: rgb(65 175 179 / 89%);
}*/
.bold {
  color: gray;
}

.price h4 {
  color: rgba(255, 69, 0, 0.8);
  padding-top: 30px;
  font-size: 20px;
}

.star-right {
  display: flex;
  font-size: 15px;
  color: gray;
}

.star-right i {
  padding: 20px 0px 22px 5px;
  margin-left: 14px;
  margin-right: -13px;
}

hr {
  border: 0.5px solid rgba(0, 0, 0, 0.171);
}

.price h5 {
  color: rgba(0, 0, 0, 0.712);
  padding-bottom: 15px;
}

.price span {
  color: rgba(124, 118, 118, 0.425);
  text-decoration: line-through;
  padding-bottom: 30px;
}

.color p {
  padding-top: 20px;
  padding-bottom: 10px;
  color: rgba(124, 118, 118, 0.95);
  font-size: 12px;
}

.color span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.76);
}

.bag {
  margin-left: 70px;
}

.color img {
  padding: 5px 10px;
  background: rgba(225, 216, 216, 0.2588235294);
  margin: 0 2px;
  border: 1px solid white;
}

.active {
  border: 1px solid rgba(255, 77, 11, 0.7294117647) !important;
}

.color img:hover {
  border: 1px solid rgba(255, 77, 11, 0.7294117647);
}

.Quantity p {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 13px;
  color: rgba(70, 69, 69, 0.856);
}

.Quantity span {
  padding: 7px 13px;
  background: rgba(225, 216, 216, 0.2588235294);
  color: rgba(124, 118, 118, 0.747);
}

.Quantity span:hover {
  background: rgba(124, 118, 118, 0.747);
  color: #fff;
}

.btn {
  padding: 30px 0;
}

.btn a {
  font-size: 15px;
  text-decoration: none;
  border-radius: 2px;
  color: white;
}

.btn .buy {
  background: #11a9e7;
  padding: 12px 85px;
}

.btn .add {
  background: rgba(255, 77, 11, 0.7294117647);
  padding: 12px 80px;
}

.right {
  flex-basis: 35%;
  background: #fff;
  /*background:#f3e8e84d;*/
}

.header {
  background: rgba(243, 232, 232, 0.3019607843);
  padding: 20px 20px 0px 20px;
}

.content {
  background: rgba(243, 232, 232, 0.3019607843);
  padding: 0 20px;
  margin-top: 10px;
}

.delivary,
.location,
.service {
  display: flex;
  justify-content: space-between;
}

.delivary,
.delivary i,
.location i,
.stander i,
.cash i,
.service i,
.service p {
  font-size: 13px;
  color: rgba(128, 128, 128, 0.952);
}

.location {
  font-size: 15px;
  padding: 10px 0px;
  color: rgba(0, 0, 0, 0.774);
}

.location span {
  color: rgba(65, 175, 179, 0.89);
}

.stander {
  display: flex;
  justify-content: space-between;
}

.stander p {
  font-size: 12px;
  padding: 20px 15px 20px 0;
  color: rgba(128, 128, 128, 0.952);
}

.stander span {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.637);
  font-weight: 600;
}

.cash,
.details p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.774);
  padding-bottom: 20px;
}

.service {
  padding: 20px 0px;
}

.details span {
  font-size: 13px;
  color: rgba(128, 128, 128, 0.952);
}

.sold {
  display: flex;
  justify-content: space-between;
}

.sold p {
  font-size: 12px;
  padding: 10px 15px 10px 0;
  color: rgba(128, 128, 128, 0.952);
}

.sold span {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.774);
}

.sold i {
  color: rgba(65, 175, 179, 0.89);
}

.rate {
  display: flex;
  justify-content: space-between;
}

.rate p {
  padding: 15px 10px 0px 10px;
  font-size: 13px;
  color: rgba(128, 128, 128, 0.952);
}

.rate span {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  color: black;
}

.visit p {
  font-size: 15px;
  color: rgba(65, 175, 179, 0.89);
  padding: 5px 120px 6px 125px;
}

/*# sourceMappingURL=main.css.map */
