*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.cotainer{
    height: 100vh;
    width: 100%;
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background:rgb(235, 224, 224);
    border-radius: 30px;
    border: 2px solid rgba(209, 204, 204, 0.205);
}
input {
    width: 422px;
    height: 65%;
    padding:  0 20px;
    border: none;
    outline: none;
    background:transparent;
}

i{
    margin: 10px -12px 12px 12px;
    font-size: 20px;
    color: black;

}
.search-box:hover{
    border: 1px solid blue;
    box-shadow: inset 0 1px 2px solid gray;
}
.icon i{
    background: grey;
    padding: 10px;
    border-radius: 50%;
}