<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product card</title>
    <script src="https://kit.fontawesome.com/e9aa5124db.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>
    <div class="main">

        <div class="top">
            <p>Bag and travel &nbsp; &nbsp;</p>
            <p><i class="fa-solid fa-greater-than"></i>&nbsp; &nbsp;Menu Bags &nbsp; &nbsp;</p>
            <p><i class="fa-solid fa-greater-than"></i>&nbsp; &nbsp; Backpacks &nbsp; &nbsp;</p>
            <p> <i class="fa-solid fa-greater-than"></i>&nbsp; &nbsp;Fashion Backpacks &nbsp; &nbsp;</p>
            <p class="link"> <i class="fa-solid fa-greater-than"></i>&nbsp; &nbsp; Men Women Mini Backpack Daypack Bookbags bag 10L-Bag for boys-bag for men-</p>
        </div>

        <div class="container">
            
            <div class="left">
                <div class="picture">
                    <img src="../../assets/img/bag.jpg">
                </div>
                <div class="description">
                    <h4>Men Women Minni Backack Daypack Boobags Laptop bag 10L - Bag - School Bag for Boys - Bag for Men - College Bag for Boys - school bag</h4>

                </div>
            </div>


            <div class="right">nueimfl,opjiq</div>
        </div>


    </div>
    
</body>
</html>