<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product card</title>
    <script src="https://kit.fontawesome.com/e9aa5124db.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>

<body>
    <div class="main">

        <div class="top">
            <p>Bag and travel &nbsp; &nbsp;</p>
            <p><i class="fa-solid fa-greater-than"></i>&nbsp; &nbsp;Menu Bags &nbsp; &nbsp;</p>
            <p><i class="fa-solid fa-greater-than"></i>&nbsp; &nbsp; Backpacks &nbsp; &nbsp;</p>
            <p> <i class="fa-solid fa-greater-than"></i>&nbsp; &nbsp;Fashion Backpacks &nbsp; &nbsp;</p>
            <p class="link"> <i class="fa-solid fa-greater-than"></i>&nbsp; &nbsp; Men Women Mini Backpack Daypack
                Bookbags bag 10L-Bag for boys-bag for men-</p>
        </div>

        <div class="container">

            <div class="left">
                <div class="photo">
                    <div class="picture">
                        <img src="../../assets/img/bag6.png1.png" alt="bag6">
                    </div>
                    <hr>

                    <div class="shortcut">
                        <i class="fa-solid fa-forward-step"></i>
                        <img src="../../assets/img/bag5.jpg3 (2).jpg" alt="bag5">
                        <img src="../../assets/img/bag6.png1 (2).png" alt="bag6">
                        <i class="fa-solid fa-greater-than"></i>
                    </div>
                </div>

                <div class="description">

                    <div class="heading">
                        <p>Men Women Minni Backack Daypack Boobags Laptop bag 10L - Bag - School Bag for Boys - Bag for
                            Men
                            - College Bag for Boys - school bag</p>
                    </div>

                    <div class="star">
                        <div class="star__star-left">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>

                        <div class="star__reviw">
                            <p> &nbsp; 471 Ratings <span></span> 81 Answered Questions</p>
                        </div>

                        <div class="star__icon">
                            <i class="fa-solid fa-share-nodes"></i>
                            <i class="fa-regular fa-heart"></i>
                        </div>

                        <div class="star__cmd">
                            <p> <samp>Brand:</samp> &nbsp; No Brand <span></span> and More Men Bags from No Brand
                            </p>
                        </div>



                    </div>

                    <hr>

                    <div class="price">
                        <p>$ &nbsp;118</p>

                        <div class="price__discount">
                            <p><span>$ 200</span> -59%</p>
                        </div>
                    </div>

                    <hr>

                    <div class="color">
                        <p>Color Family &nbsp; <span>Bule.</span></p>
                        <div class="color__bag">
                            <img src="../../assets/img/bag6.png1 (1).png" alt="bag6" class="color__bag-active">
                            <img src="../../assets/img/bag2.png2 (1).jpg" alt="bag2">
                            <img src="../../assets/img/bag4.jpg3 (3).jpg" alt="bag4">
                            <img src="../../assets/img/bag5.jpg3 (1).jpg" alt="bag5">
                        </div>
                    </div>

                    <div class="Quantity">
                        <p>Quantity &nbsp; &nbsp; <span>-</span> &nbsp; &nbsp; 1 &nbsp; &nbsp;<span>+</span></p>

                        <div class="Quantity__btn">
                            <a href="#" class="Quantity__btn-buy">Buy Now</a>
                            <a href="#" class="Quantity__btn-add"> Add to Cart</a>
                        </div>

                    </div>
                </div>
            </div>


            <div class="right">

                <div class="header">

                    <div class="delivary">
                        <p>Delivery</p>
                        <i class="fa-solid fa-circle-exclamation"></i>
                    </div>

                    <div class="location">
                        <p><i class="fa-solid fa-location-dot"></i> &nbsp;Sylhet, Sylhet Sadar,Pooitula</p>
                        <span>CHANGE</span>
                    </div>

                    <hr>

                    <div class="stander">
                        <p><i class="fa-solid fa-maximize"></i><span> &nbsp; Standared Delivery</span> 12 Aug - 16 Aug <br> &nbsp; &nbsp; &nbsp; &nbsp; 4 - 8 day(s)</p>
                        <p><span>$55</span></p>
                    </div>

                    <div class="cash">
                        <p><i class="fa-solid fa-rotate"></i> &nbsp; Cash on Delivery Available
                    </div>

                    <hr>

                    <div class="service">
                        <div class="servic-left">
                            <p>Service</p>
                        </div>
                        <div class="service-right">
                            <i class="fa-solid fa-circle-exclamation"></i>
                        </div>
                    </div>
                    <div class="details">
                        <p> <i class="fa-solid fa-print"></i> &nbsp; 7 Days Returns<br>&nbsp; &nbsp; &nbsp; <span>Change
                                of mind is not applicable</span></p>
                        <p><i class="fa-solid fa-vault"></i>&nbsp; Warranty not available</p>
                    </div>
                </div>


                <div class="content">
                    <div class="sold">
                        <p>Sold by<br><br><span>Aviva Deal International</span></p>
                        <p><i class="fa-solid fa-comments"> C H AT</i></p>
                    </div>

                    <hr>

                    <div class="rate">
                        <div class="rate__left">
                            <p>Positive Seller Rating</p>
                            <p><span>86%</span></p>
                        </div>
                    <hr>
                        <div class="rate__medil">
                            <p>Ship on Time</p><br>
                            <p><span>100%</span></p>
                        </div>
                        <hr>
                        
                        <div class="rate__right">
                            <p>Chat Response Rate</p>
                            <p><span>90%</span></p>
                        </div>

                    </div>
                    <hr>
                    <div class="visit">
                        <p>Visit Store</p>
                    </div>

                </div>


            </div>

</body>

</html>