<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>serch boxt</title>
    <link rel="stylesheet" href="../../assets/css/main.css">
    <script src="https://kit.fontawesome.com/e9aa5124db.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="cotainer">
  
        <div class="search-box">
            <div class="hidden">
            <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <input type="text" placeholder="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <div class="focuse">
    
            </div>
    </div>
    <div class="icon">
    <i class="fa-solid fa-microphone"></i>
    </div>
    </div>
    
</body>
</html>