<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar-menu</title>
    <link rel="stylesheet" href="../../assets/css/main.css">
    <script src="https://kit.fontawesome.com/e9aa5124db.js" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="sidebar">
        <header>

            <div class="image-text">
                <span class="image">
                    <img src="../../assets/img/cc.png" alt="logo">
                </span> 

                <div class="text header-text">
                    <span class="name">Codinglab</span>
                    <span class="profession">Web developer</span>
                </div>
            </div>
            <i class="fa-solid fa-greater-than"></i>

        </header>
    </nav>
    
</body>
</html> 