<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar-menu</title>
    <script src="https://kit.fontawesome.com/e9aa5124db.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../assets/scss/Sidebar-menu/_sidebar-menu.css">


</head>

<body>
    <nav class="sidebar">
        <header>

            <div class="image-text">
                <span class="image">
                    <img src="../../assets/img/cc.png" alt="logo">
                </span>

                <div class="text header-text">
                    <span class="name">Codinglab</span>
                    <span class="profession">Web developer</span>
                </div>
            </div>
            <i class="fa-solid fa-greater-than toggle"></i>
        </header>
        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <i class="fa-solid fa-magnifying-glass icon"></i>
                    <input type="search" placeholder="search...">
                </li>

                <ul class="menu-link">
                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-solid fa-house icon"></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-solid fa-chart-simple icon"></i>
                            <span class="text nav-text">Nevenue</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-solid fa-bell icon"></i>
                            <span class="text nav-text">Notification</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-solid fa-clock icon"></i>
                            <span class="text nav-text">Analytics</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-solid fa-heart icon"></i>
                            <span class="text nav-text">likes</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-solid fa-wallet icon"></i>
                            <span class="text nav-text">Wallets</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <li class="">
                    <a href="#">
                        <i class="fa-solid fa-circle-left icon"></i>
                        <span class="text nav-text">logout</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="moon-sun">
                        <i class="fa-solid fa-moon icon sun"></i>
                        <i class="fa-solid fa-sun icon moon"></i>
                    </div>
                    <span class="mode-text text"> Drack Mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>

    <script src="../../assets/scss/Sidebar-menu/sidebar.js"></script>

</body>

</html>